// Большие девайсы (большие десктопы, >= 992px)
@media (min-width: 992px) and (max-width: 1199.98px) {

    .container {
        width: 90%;
        margin: 0 auto;
    }

    .section_header {

            h3{
                font-size: 2.5rem;
            }
    }


    header {
        height: 4rem;
        
        .container_header {
            box-sizing: border-box;
            width: 100%;
            padding: 0;

                h1 {
                    margin-left: 1rem;
                }
        }

        nav {
            margin-right: 1.5rem;
        }

        .hamburger_menu {
            display: none;
            margin-right: 1.5rem;
        }
    }

    #home {

        h2 {
            font-size: 2.5rem;
            padding-top: 8rem;
        }
        .advantages_checkmarks {
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 90%;


                div {
                    margin-bottom: 1.5rem;
                }

        }

    }

    #about_us {
        height: auto;
        padding-top: 3rem;



        .about_us_photo {
            display: block;
        }
        .container_about{
            width: 90%;
            flex-direction: row;
            justify-content: space-evenly;

            .about_us_text {
                font-size: 1.2rem;
                width: 60%;
                margin-left: -3rem;
                padding-left: 1rem;
                padding-right: 1rem;
                padding-top: 1.2rem;
                padding-bottom: 1rem;


                        h2 {
                            font-size: 2.5rem;
                        }
            }
        }
    }

    #our_focus {
        height: auto;
        padding-top: 3rem;
        .wrapper_focus {
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-items: center;

                div {
                    width: 25%;
                    margin-bottom: 1.5rem;
                    padding: 0 .2rem;

                    
                }
                .app {
                        h4 {
                            margin-bottom: 20px;
                        }
                    }
        }
    }

    #video {

        .description {
            background: none;
        }
    }

    #portfolio {

        height: auto; 
        padding: 2rem 0;   
        .wrapper_portfolio {
            margin: 0 auto;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            align-items: center;

                a {
                    margin: 1rem 0;
                    width: 300px;
                    box-shadow:  3px 3px 10px 2px rgba(61, 47, 47, 0.3);
                }
        }
    }

    #our_team {
        height: auto;
        padding: 2rem 0;
            .our_team_photo_wrapper {
                flex-direction: row;
                justify-content: space-evenly;
                flex-wrap: nowrap;
                margin-bottom: 1rem;

                label {
                    margin: 0 .5rem ;
                }
                label:hover:after {
                    opacity: 0;
                }
            }

            .our_team_employee_description {
            display: block;
            }
    }

    #work_steps {

        .content_work_steps {
            width: 45%;
        }
    }


    #pricing_table {
        height: auto;
        padding-bottom: 2rem;
        .pricing_wrapper {
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            align-items: center;

                div{
                    width: 27%;
                    margin-bottom: 1rem;
                }

                div:hover {
                    transform: scale(1);
                }

        }
    }

    #testimonials {
        height: auto;
        padding-bottom: 2rem;
        .section_header{
            color: #ffffff;
        }
        
        .testimonials_wrapper_flex {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .testimonials_photo {
                display: block;
            }
            .testimonials_text {
                width: 70%;
                height: auto;
                padding-right: 2rem;
            }
        }

        .slider {
            margin: 0 auto;
        }
    }
    
    #why_select_us {
        height: auto;
        padding-bottom: 2rem;

            .select_us_wrapper_flex {
                div {
                    width: 45%;

                    .select_us_item_header {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        width: 100%;
                    }

                    .select_us_item_icon {
                        width: 56px;
                        margin-right: .2rem;
                    }

                    .select_us_item_icon {
                        width: 56px;
                    }
                }
            }
        h3 {
            margin-bottom: 1.5rem;
            width: 90%;
        }
    }

    #our_blog {
        height: auto;
        padding-top: 3rem;
        padding-bottom: 2rem;

            .our_blog_wrapper_grid {
                grid-template-columns: 1fr 1fr;

                .grid_item1 { 
                    grid-row: span 2;
                        figcaption {
                            padding-left: .5rem;
                            margin-top: -3rem;
                        }
                }
                .grid_item4 {
                    grid-column-start: 1;
                    grid-column: span 2;
                }

            }
    }

    #subscription {
        padding-top: 4rem;
    }

    #in_touch {
        height: auto;
        padding-top: 3rem;
        padding-bottom: 3rem;
            .in_touch_form {
                flex-direction: row;
                align-items: center;
                    input {
                        width: 40%;
                    }
            }
    }

    footer {
    
        .container {
            width: 100%;
            padding: 0;
        }
        .footer_wrapper_flex {
            flex-direction: row;

                a {
                    height: 25%;
                    width: 100%;
                    color: transparent;
                }
                div {
                    width: 100%;
                    text-align: center;
                }

                .footer_adress_line1 {
                    padding-bottom: 1rem;
                }

                .footer_adress_line2 {
                    padding-bottom: 1rem;
                }

                .footer_social_links {

                        h3 {
                            margin: 2.5rem auto;
                        }
                    padding-bottom: 1.5rem;
                }
        }
    }

}