$primary-red: #fc5f45;
$primary-orange: #feb960;
$primary-purpul: #b27cf5;
$primary-green: #38c695;
$primary_font_color: #767676;

$primary_font: 'Poppins', sans-serif;
$font_h: 'Libre Baskerville', serif;